html,body,header, #s-home{
	height: 100%;
}
#s-home{
	background: url(../img/WEB_BG.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.top-nav-collapse{
	background-color: #42a5f5;
}
@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse){
		background: #42a5f5;
	}
}

.contact__bot {
	width: 100%;
	background-color: #4285F4;
	padding: 20px;
}