html,body,header, #s-home{
	height: 100%;
}
#s-home{
	background: url(../img/WEB_BG.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.top-nav-collapse{
	background-color: #42a5f5;
}
@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse){
		background: #42a5f5;
	}
}
.section {
	padding: 40px 0;
    border-top: 1px solid #42A5F5;
}
.about-tittle {
	float: left;
    margin-right: 10px;
}
.about-info {
	padding: 2px 0;
    opacity: 0.8;
}
.opacity-box {
	font-style: italic;
	opacity: 0.8;
}
.feedback-block .feedback-image {
	left: 15px;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 3px;
}
.feedback-block .about-tittle {
	padding-left: 70px;
}
.feedback-block .about-info {
	padding-left: 70px;
}
@media screen and (max-width: 991px) {
	.feedback-block .about-tittle {
		float: none;
	}
}

.feedback-block .opacity-box {
	padding-left: 70px;
}